{% extends "brio::stubs.block_extension_parent" %}

<span class="preform">
	{% block outer %}
	{% block inner1 %}
		child-inner1
	{% endblock inner1 %}
	{% block inner2 %}
		child-inner2
	{% endblock inner2 %}
	{% endblock outer %}
</span>