<span class="preform">
    {% for cat in categories %}
        {{ cat.category.name }}
        <ul>
            {% for sybcat in cat.subcategories %}
                <li>
                    {% if forloop.last %}
                        {{ sybcat.name }}
                    {% else %}
                        {{ sybcat.name }},
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
</span>
