<span class="preform">
    {% ifequal 'foo' 'Foo' %}
        Equals
    {% else %}
        Non Equals
    {% endifequal %}
    {% ifnotequal 'foo' 'foo' %}
        Non Equals
    {% else %}
        Equals
    {% endifnotequal %}
</span>