{% extends "brio::stubs.nested_block2" %}

<span class="preform">
    {% block outer %}
        {% block inner1 %}
            Child content1...
        {% endblock inner1 %}
        {% block inner2 %}
            Child content2...
        {% endblock inner2 %}
    {% endblock outer %}
</span>